.link {
    width:  3rem;
    height: 3rem;
}

.icon {
    border-radius: 50%;
    width:  7rem;
    height: 7rem;
}
.links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding: 0 25px;
}